<p id="notice"><%= notice %></p>
<h1><%= @pokemon.name.capitalize %>'s ID Card</h1>
<p>This is code from branch_b</p>
<p>
  <strong>Name:</strong>
  <%= @pokemon.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @pokemon.address %>
</p>

<%= link_to 'Edit', edit_pokemon_path(@pokemon) %> |
<%= link_to 'Back', pokemons_path %>

<% content_for(:after_js) do %>
  <script>
    $(document).ready(function(){
      var pokemon_name = '<%= j @pokemon.name %>';
      var pokemon_adress = '<%= j @pokemon.address %>';
      alert(pokemon_name + " is closed to " + pokemon_adress);
    })
  </script>
<% end %>
